html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

.el-table__body-wrapper > table {
  width: 100% !important;
  min-width: 500px !important;
  padding-top: 1px;
}
